body {
  margin: 20px;
}

* {
  box-sizing: border-box;
}
nav {
  margin: 14px 10px;
}
nav a{
  background-color: steelblue;
  border-radius: 5px;
  padding: 8px 10px;
  text-decoration: none;
  color: white;
  display: inline-block;
  font-family: Verdana, Geneva, sans-serif;
}
a:hover{
  color: steelblue;
  background-color: lightgrey;
}
header {
  background-color: lightgrey;
  margin: 10px;
  padding: 15px;
  font-family: Verdana, Geneva, sans-serif;
}
h1, h3 {
  margin: 0;
}
img {
  float: left;
  margin-right: 15;
  border: 1px dashed slategray;
  padding: 10px;
}
p {
  font-size: 14px;
  padding: 0px 10px 0px 10px;
  font-family: Verdana, Geneva, sans-serif;
}
footer {
  border: 1px dashed slategray;
  margin: 10px;
  padding: 0px 0px 10px;
  font-family: Verdana, Geneva, sans-serif;
}
footer h4 {
  padding: 10px 0 0 10px;
  margin: 0px;
  font-size: 18px;
  margin: 0 0 10px 0;
}
footer a {
  display: inline-block;
  padding: 10px;
  color: grey;
  font-size: 18px;
}
#wrapper {
  border: 2px dotted slategray;
  width: 800px;
  margin: 0px auto;
  padding: 10px;
  
}