* {
    box-sizing: border-box;
}
.main-container {
    position: relative;
    width: 900px;
    margin: 0 auto 0 auto;
}
body {
    background: #b3b3cc;
    color: white;
    }
header {
    display: flex;
    margin: 0 0 20px 0
}

nav a {
  color: white;
  font-family: raleway;
  text-decoration: none;
  font-size: 20px;
    
}
a:link {
  text-decoration: none;
}
nav a:hover {
  color: grey;
}
.box-1 {

  position: relative;
  margin: auto;
  width: 900px;
  background: #f2f2f3;
}

h2 {
  font-family: raleway;
  font-size: 45px;
  font-weight: 100;
  letter-spacing: 1px;
  left: 10px;
  font-size: 40px;
  color: darkslateblue;
  padding: 10px 0 0 20px;
}
p {
  font-family: lora;
  letter-spacing: 1px;
  line-height: 25px;
  margin: 20px;
  color: grey;
  font-size: 20px;
  font-weight: 100;
    }
li {
  padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 80px;
    
    font-size: 24px;
    font-family: raleway;
    color: grey;
}
a {
  padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 10px;
    
    font-size: 24px;
  color: darkslateblue;
}
footer {
  position: relative;
  height: 25px;
  padding: 0px 0px 10px 10px;
  background-color: #8484ae;
  font-family: lora;
}
footer a {
    position: relative;
    font-size: 15px;
    color: white;
    font-family: lora;
}