* {
  box-sizing: border-box;
}

.robot {
    position: relative;
    height: 500px;
    width: 500px;
    border: solid;
    margin: auto;
    border-radius: 50%;
    top: 100px;
    background: #D9FFD9;
}

.antenna {
    position: absolute;
    height: 50px;
    width: 3px;
    background: black;
    top: -50px;
    left: 250px;
}

.bulb {
    position: absolute;
    height: 25px;
    width: 25px;
    border: solid;
    left: -10.5px;
    top: -25px;
    border-radius: 50%;
    background: #FFB2A8;
}

.eye {
    position: absolute;
    border: solid;
    margin: auto;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    left: 100px;
    top: 80px;
    background: #E2FFF5;
}

.pupil {
    position: absolute;
    background: black;
    height: 100px;
    width: 100px;
    left: 100px;
    top: 100px;
    border-radius: 50%;
    
}

.light {
    position: absolute;
    height: 55px;
    width: 55px;
    border: solid;
    background: white;
    border-radius: 50%;
}

.mouth {
    position: absolute;
    height: 40px;
    width: 150px;
    border: solid;
    left: 175px;
    top: 410px;
    background: white;
}

.teeth-horizontal {
    position: absolute;
    height: 3px;
    width: 150px;
    background: black;
    left: -3px;
    top: 15px;
}

.tooth-1 {
    position: absolute;
    height: 40px;
    width: 3px;
    background: black;
    left: 25px;
    top: -3px;
}

.tooth-2 {
    position: absolute;
    height: 40px;
    width: 3px;
    background: black;
    left: 55px;
    top: -3px;
}

.tooth-3 {
    position: absolute;
    height: 40px;
    width: 3px;
    background: black;
    left: 85px;
    top: -3px;
}

.tooth-4 {
    position: absolute;
    height: 40px;
    width: 3px;
    background: black;
    left: 115px;
    top: -3px;
}

.arm-left {
    position: absolute;
    height: 10px;
    width: 125px;
    border: solid;
    left: -125px;
    top: 250px;
    background: lightgrey;
}

.arm-joint-left {
    position: absolute;
    height: 20px;
    width: 20px;
    left: -20px;
    top: -8px;
    border: solid;
    border-radius: 50%;
    background: #FFB2A8;
}

.arm-fore-left {
    position: absolute;
    height: 125px;
    width: 10px;
    left: -15px;
    top: 10px;
    border: solid;
    background: lightgrey;
}

.hand-left {
    position: absolute;
    height: 25px;
    width: 40px;
    border: solid;
    left: -18px;
    top: 120px;
    background: #FFB2A8;
}

.left-finger-1 {
    position: absolute;
    height: 20px;
    width:3px;
    top: 21px;
    left: -3px;
    background: black;
}

.left-finger-2 {
    position: absolute;
    height: 20px;
    width:3px;
    top: 21px;
    left: 16px;
    background: black;
}

.left-finger-3 {
    position: absolute;
    height: 20px;
    width:3px;
    top: 21px;
    left: 34px;
    background: black;
}

.arm-right {
    position: absolute;
    height: 10px;
    width: 125px;
    border: solid;
    left: 495px;
    top: 250px;
    background: lightgrey;
}

.arm-joint-right {
    position: absolute;
    height: 20px;
    width: 20px;
    left: 120px;
    top: -8px;
    border: solid;
    border-radius: 50%;
    background: #FFB2A8;
}

.arm-fore-right {
    position: absolute;
    height: 125px;
    width: 10px;
    left: 125px;
    top: 10px;
    border: solid;
    background: lightgrey;
}

.hand-right {
    position: absolute;
    height: 25px;
    width: 40px;
    border: solid;
    left: -18px;
    top: 120px;
    background: #FFB2A8;
}

.right-finger-1 {
    position: absolute;
    height: 20px;
    width:3px;
    top: 21px;
    left: -3px;
    background: black;
}

.right-finger-2 {
    position: absolute;
    height: 20px;
    width:3px;
    top: 21px;
    left: 16px;
    background: black;
}

.right-finger-3 {
    position: absolute;
    height: 20px;
    width:3px;
    top: 21px;
    left: 34px;
    background: black;
}

.leg-left {
    position: absolute;
    height: 150px; 
    width: 10px;
    top: 465px;
    left: 125px;
    border: solid;
    border-radius: 0px 6px 0 0;
    background: lightgrey;
}

.leg-joint-left {
    position: absolute;
    height: 20px;
    width: 20px;
    left: -7.5px;
    top: 144px;
    border: solid;
    border-radius: 50%;
    background: #FFB2A8;
}

.leg-fore-left {
    position: absolute;
    height: 150px; 
    width: 10px;
    top: 161px;
    left: -3px;
    border: solid;
    background: lightgrey;
}

.foot-left {
    position: absolute;
    height: 40px;
    width: 80px;
    border: solid;
    left: -40px;
    top: 145px;
    background: #FFB2A8;
}

.leg-right {
    position: absolute;
    height: 150px; 
    width: 10px;
    top: 465px;
    left: 360px;
    border: solid;
    border-radius: 6px 0px 0 0;
    background: lightgrey;
}
.leg-joint-right {
    position: absolute;
    height: 20px;
    width: 20px;
    left: -7.5px;
    top: 144px;
    border: solid;
    border-radius: 50%;
    background: #FFB2A8;
}

.leg-fore-right {
    position: absolute;
    height: 150px; 
    width: 10px;
    top: 161px;
    left: -3px;
    border: solid;
    background: lightgrey;
}

.foot-right {
    position: absolute;
    height: 40px;
    width: 80px;
    border: solid;
    left: -40px;
    top: 145px;
    background: #FFB2A8;
}