* {
    box-sizing: border-box;
}

.main-container {
    width: 900px;
    margin: 0 auto 0 auto;
}

.main-container{
    background-color: lightgrey;
}

.promo-container {
    background-color: mintcream;
}

header {
    display: flex;
}

.branding {
    background-color: black;
    width:150px;
    height:45px;
    margin-right: auto; 
}

.pill-button {
    display: inline-block;
    background: grey;
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
}

.promo {
    background: white;
    color: black;
    font-size: 18px;
}


/* Big Promo*/

#big-promo {
    padding-top: 200px;
    background-color: paleturquoise;
}

.promo-message {
    width: 60%;
    padding: 50px;
    background-color: darkturquoise;
}

/* product features */

.product-features, .product-buy-it-now{
    display: flex;
    background-color: lightcoral
}

.feature {
    text-align: center;
    padding: 20px
}

.feature-image {
    width: 200px;
    height: 200px;
    margin: 0 auto 0 auto;
    border-radius: 50%;
    overflow: hidden;
}
.product-buy-it-now {
    align-items: center;
    padding: 20px;
    background-color: aquamarine;
}

.product-info{
   text-align: right;
}