#box_1 { 
	position: absolute;
	width: 200px;
	height: 200px;
  top: 0;
  left: 0;
	background: #ee3e64;
}

#box_2 { 
	position: absolute;
	width: 200px;
	height: 200px;
  top: 0;
  right: 0;
	background: #44accf;
}

#box_2_childelement {
  position: absolute;
  width: 100px;
  height: 100px;
  background: #aaccff;
  bottom: 0; /* relative elements do not respect the bottom offset property */
  right: 0;
}

#box_3 { 
	position: absolute;
	width: 200px;
	height: 200px;
	background: #b7d84b;
  left: 0;
  bottom: 0;
}

#box_4 {
	position: absolute;
	width: 200px;
	height: 200px;
	background: #ddaa00;
  right: 0;
  bottom: 0;
}