* {
    box-sizing: border-box;
}

.main-container {
    width: 1200px;
    margin: 0 auto 0 auto;
    position: relative;
    margin: auto;
    diplay: flex;
    background-color: pink;
}

.nav {
    display: flex;
    height: 50px;
    background: lightgreen;
    margin: auto;
}

.nav li {
    display: inline-flex;
    margin: 0 10px;

}

.nav a {
    padding: 3px 10px 3px 10px;
    text-decoration: none;
    font-family: lora;

}
.sign-up{
    position: relative;
    height: 500px;
    margin: auto;
    background: navy;
}

.sign-up-text-blox {
    position: relative;
    width: 600px;
    margin: auto;
    top: 200px;
    background: lightblue;

}

.sign-up-text-blox h1 {
    position: relative;
    display: inline-flex;
    margin: auto;
    left: 190px;
    
}

.sign-up-text-blox p {
    position: relative;
    height: 80px;
    width: 600px;
}

.pill-button-pricing {
    position: relative;
    left: 250px;
    display: inline-block;
    background: grey;
    padding: 10px 30px 10px 30px;
    color: white;
    text-decoration: none;
}

/*FEATURES*/

.feature-items {
    position: relative;
    display: inline-flex;
    padding: 70px 0 40px 0;
}
.features {
    width: 300px;
}

.feature-image {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto 0 auto;
    border-radius: 50%;
    overflow: hidden;
    height: 200px;
    width: 200px;
}

.features h2 {
    position: relative;
    left: 100px;
    display: inline-block;
    margin: 20px 0 0 0;
    
}

.features p {
    width: 300px;
    padding: 20px;
    text-align: center;
    padding: 0 20px;
}

/*MORE FEATURES*/

.more-features {
    position: relative;
    display: inline-flex;
    padding:0 0 50px 0;
}

.more-features h2 {
    position: relative;
    display: inline-flex;
    padding: 0 30px;
}

.more-features p {
    position: relative;
    padding: 0 30px;
    margin: none;
    
}

.more-features-image {
    padding: 30px 20px 30px 10px ;
}

.pill-button-feature {
    position: relative;
    justify-content: flex-start
    left: 250px;
    display: inline-block;
    background: grey;
    padding: 10px 30px 10px 30px;
    margin: 30px 0 0 30px;
    color: white;
    text-decoration: none;
}