* {
    box-sizing: border-box;
}

.main-container {
    width: 1200px;
    margin: 0 auto 0 auto;
    position: relative;
    margin: auto;
    diplay: flex;
    background-color: #ece9ed;
}

.nav {
    position: relative;
    display: flex;
    height: 125px;
    background: #9d9b9e;
    margin: auto;

}

.nav li {
    position: relative;
    display: inline-flex;
    margin: 0 10px;
    top: 30px;

}

.nav a {
    padding: 3px 10px 3px 10px;
    text-decoration: none;
    font-family: raleway;
    font-size: 20px;
    color: white;
    font-weight: 600;
}

.branding img{
    position: relative;
    display: flex;
    left: 260px;
    top: 12px;
}


/*MAIN*/

.sign-up{
    position: relative;
    height: 500px;
    margin: auto;
    background-image: url("water_mountain_edit.jpg");
    background-size: cover;
}


.sign-up-text-blox {
    position: relative;
    width: 600px;
    margin: auto;
    top: 250px;
    background: none;
}

.sign-up-text-blox h1 {
    position: relative;
    margin: auto;
    text-align: center;
    color: white;
    font-family: raleway;
}

.sign-up-text-blox p {
    position: relative;
    height: 80px;
    width: 400px;
    text-align: center;
    color: white;
    margin: 10px auto;
    font-family: lora;
}

.pill-button-pricing {
    position: relative;
    left: 252px;
    margin: none;
    padding: 8px 20px 8px 20px;
    color: white;
    text-decoration: none;
    font-family: raleway;
    border: solid;
}

/*FEATURES*/

.feature-items {
    position: relative;
    display: inline-flex;
    padding: 70px 0 40px 0;
}
.features {
    width: 300px;
}

.feature-image {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto 0 auto;
}

.features h2 {
    position: relative;
    left: 92px;
    display: inline-block;
    margin: 20px 0 0 0;
    font-family: raleway;
    
}

.features p {
    width: 300px;
    padding: 20px;
    text-align: center;
    padding: 0 20px;
}

/*MORE FEATURES*/

.more-features {
    position: relative;
    display: inline-flex;
    padding:0 0 50px 0;
}

.more-features h2 {
    position: relative;
    display: inline-flex;
    padding: 0 30px;
    font-family: raleway;
}

.more-features p {
    position: relative;
    padding: 0 30px;
    margin: none;
    
}

.more-features-image {
    padding: 30px 20px 30px 10px ;
}

.pill-button-feature {
    position: relative;
    justify-content: flex-start
    left: 250px;
    display: inline-block;
    background: none;
    padding: 10px 30px 10px 30px;
    margin: 30px 0 0 30px;
    color: grey;
    text-decoration: none;
    font-family: raleway;
    border: solid;
}


/*!!!!FEATURES PAGE!!!!!*/

.four-feature-blocks {
    position: relative;
    margin: 40px 0 0 0;
}

.feature-block-one {
    position: relative;
    display: inline-flex;
    font-family: raleway;
}

.feature-block-two {
    position: relative;
    display: inline-flex;
    left: 225px;
    font-family: raleway;
    padding: 0 10px 0 0;
}

.feature-block-three {
    position: relative;
    display: inline-flex;
    font-family: raleway;
    
}

.feature-block-four {
    position: relative;
    display: inline-flex;
    left: 225px;
    font-family: raleway;
    padding: 0 10px 0 0;
}

.blocks-text {
    position: relative;
    width: 200px;
}

.large-feature-image img{
    display: flex;
    position: relative;
    margin: auto;
}

.large-feature-image p {
    position: relative;
    display: flex;
    padding: 20px;
    width: 600px;
    margin: auto;
    text-align: center;
}

.features-five-images {
    position: relative;
    display: inline-flex;
    left: 25px;
    margin: 20px 0 0px 0;
}

.features-five-images img{
    position: relative;
    margin: none;
    display: flex;
}

.five-image-paragraph {
    position: relative;
    display: flex;
    padding: 10px;
    width: 600px;
    margin: auto;
    text-align: center;
}

.pill-button-pricing-two {
    position: relative;
    display: inline-flex;
    margin: 0 0 50px 0;
    left: 540px;
    background: none;
    padding: 10px 30px 10px 30px;
    color: grey;
    text-decoration: none;
    font-family: raleway;
    border: solid;
}

/*PRICING PAGE*/

.large-pricing-image{
    position: relative;
    height: 400px;
    background-image: url("north_lights_two_edit.jpg");
    background-size: cover;
}

.packages {
    position: relative;
    left: 10%;
    display: inline-flex;
    margin: 60px auto;
}

.package-subtitle {
    text-align: center;
}

.package-one-box {
    position: relative;
    margin: auto;
    background: white;
    height: 500px;
    width: 300px;
    margin: 10px;
    box-shadow: 3px 3px lightgrey;
}

.package-prices {
    font-size: 90px;
    text-align: center;
    font-family: raleway;
}

.package-one-box p {
    text-align: center;
    padding: 20px;
    line-height: 25px;
}

.package-two-box {
    position: relative;
    margin: auto;
    background: white;
    height: 500px;
    width: 300px;
    margin: 10px;
    box-shadow: 3px 3px lightgrey;

}

.package-two-box p {
    text-align: center;
    padding: 0 20px;
    line-height: 25px;
}

.package-three-box {
    position: relative;
    margin: auto;
    background: white;
    height: 500px;
    width: 300px;
    margin: 10px;
    box-shadow: 3px 3px lightgrey;

}

.package-three-box p {
    text-align: center;
    padding: 0 20px;
    line-height: 25px;
}

.pill-button-buy_1 {
    position: relative;
    background: none;
    margin: auto;
    bottom: -120px;
    left: 90px;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
    color: grey;
    font-family: raleway;
    border: solid;
}

.pill-button-buy_2 {
    position: relative;
    background: none;
    margin: auto;
    bottom: -70px;
    left: 90px;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
    color: grey;
    font-family: raleway;
    border: solid;
}

.pill-button-buy_3 {
    position: relative;
    background: none;
    margin: auto;
    bottom: -70px;
    left: 90px;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
    color: grey;
    font-family: raleway;
    border: solid;
}

.to-blog {
    position: relative;
    padding: 50px 30px;
    height: 425px;
}

.not-convinced {
    position: relative;
    font-size: 40px;
    text-align: center;
    margin: 0 0 50px 0;
    font-family: raleway;
}

.about-blog {
    position: relative;
    margin: 0 auto 50px;
    width: 500px;
    text-align: center;
}


.pill-button-blog {
    position: relative;
    left: 510px;
    background: none;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
    color: grey;
    font-family: raleway;
    border: solid;
}



/*BLOG PAGE*/

.blog-body {
    position: relative;
}

.blog-content h1{
    position: relative;
    display: inline-flex;
    margin: 30px 0px 20px 30px;
    font-size: 40px;
    font-family: raleway;
}

.blog-content p{
  position: relative;
  line-height: 30px;
  padding: 10px 30px;
  margin: auto;
}

.blog-left-image {
  position: relative;
  float: left;
  margin-right: 15px;
  padding: 0 0 0 20px;
}

.blog-right-image {
  position: relative;
  float: right;
  margin-left: 15px;
  padding: 0 20px 0 0;
}